body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background: rgb(173, 197, 194);
    height: 100vh;
    overflow: hidden;
}

.container-bar2 {
    display: flex;
    height: 100%;
}

/* Sidebar Styling */
.sidebar {
    width: 260px;
    background-color: rgb(128, 176, 169);
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    box-sizing: border-box;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 5px 0 15px rgba(0,0,0,0.05);
    z-index: 10;
}

.logo-section {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    padding-left: 10px;
}

.logo {
    height: 100px;
    width: 100px;
}

.logo-text {
    font-size: 30px;
    font-weight: bold;
    color: rgb(70, 90, 88);
    margin-left: 15px;
    text-shadow: 1px 1px 4px;
    letter-spacing: 1px;
    opacity: 0.8;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(80, 100, 98);
    font-weight: bold;
    font-size: 18px;
    padding: 15px 20px;
    border-radius: 15px;
    transition: 0.3s;
}

.nav-icon {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    opacity: 0.7;
}
.nav-item.active {
    background-color: rgba(100, 135, 130, 0.4);
    color: rgb(60, 80, 78);
}

.nav-item:hover { 
    background-color: rgba(255, 255, 255, 0.1); 
}

/* --- Main Content --- */
.main-content {
    flex: 1;
    position: relative;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.dot-icon {
    position: absolute;
    top: 53px;
    right: 40px;
    display: flex;
    gap: 8px;
}

.dot-icon span {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgb(92, 112, 109); 
}

/* --- Calculator Card --- */
.calculator-card {
    background: rgba(255, 255, 255, 0.15);
    padding: 30px;
    border-radius: 20px;
    width: 500px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    margin-top: 50px;
}

.form-title {
    color: rgb(80, 100, 98);
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 22px;
    text-shadow: 1px 1px 4px;
    opacity: 0.8;
}


.input-group {
    margin-bottom: 5px;
}

.input-label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: rgb(90, 110, 108);
    margin-bottom: 5px;
    margin-left: 5px;
    text-shadow: 1px 1px 4px;
    opacity: 0.8;
}

.input-field {
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 12px;
    border: none;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.15); 
    box-sizing: border-box;
    font-size: 14px;
    color: #555;
    font-weight: bold;
    outline: none;
}

.input-field::placeholder {
    color: #7a918e;
    font-weight: bold;
}

/* Buttons Row */
.action-row {
    display: flex;
    gap: 15px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.btn-calculate {
    flex: 1;
    padding: 15px;
    background-color: rgb(119, 139, 136);
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.btn-calculate:hover { 
    background-color: rgb(140, 160, 157); 
}

.btn-calculate:active{
    background-color: rgb(121, 184, 175);
}

.btn-reset {
    width:80px;
    background-color: rgb(119, 139, 136);
    color: white;
    border: none;
    border-radius: 35px; 
    font-size: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.8 ;
}

.btn-reset:hover { 
    background-color: rgb(140, 160, 157); 
}

.btn-reset:active{
    background-color: rgb(255, 0, 4, 50% );
}
/* --- Result Box --- */
.result-box {
    background-color: rgb(119, 139, 136); 
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    color: white;
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.1);
}

.result-label {
    margin: 0;
    font-size: 12px;
    opacity: 0.9;
}

.result-price {
    margin: 10px 0;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-save {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255,255,255,0.3);
    color: white;
    padding: 8px 20px;
    border-radius: 15px;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.btn-save:hover {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0.8;
}
.btn-save:active{
    background-color: rgb(121, 184, 175);
}