body {
	background: rgb(173, 197, 194);
}
.nav-top-bar{}
.top-logo {
	height: 150px;
	margin-left: 20px;
}
.grip-icon {
    display: grid;
    grid-template-columns: repeat(3, 6px); 
    grid-template-rows: repeat(2, 6px);   
    gap: 18px; 
    margin-bottom: 50px;
	margin-left: 700px

}
.grip-icon .dot {
    width: 10px;
    height: 10px;
    background-color: #5F6B69;
    border-radius: 50%;
}
.register{
	border-radius: 5px;
	height: 50px;
	width: 100px;
}
.greetings-text{
	font-size: 30px;
	font-family: Arial;
	width: 350px;
	color: rgba(92, 112, 109, 100);
	text-shadow: 10px;
	margin-left: 40px;
}
.cal-logo1{
	margin-left: 50px;
}
.register:hover{

}