body {
    background: rgb(173, 197, 194);
    font-family: Arial;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.dot-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 8px;
}

.dot-icon span {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgb(92, 112, 109); 
    opacity: 0.7;
}

/* --- The Card Container --- */
.form {
    background: rgba(255, 255, 255, 0.15); 
    width: 320px;
    padding: 40px 40px 60px 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); 
    text-align: center;
}

/* --- Headings --- */
.h1 {
    color: rgb(92, 112, 109);
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 35px;
    text-shadow: 1px 1px 4px;
}

/* --- Inputs --- */
.input-field {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    background-color: rgb(209, 224, 222);
    box-sizing: border-box; 
    font-size: 14px;
    color: #555;
    font-weight: bold;
    outline: none;
}

.input-field::placeholder {
    color: #7a918e;
    font-weight: bold;
}

/* --- Links --- */
.forgot-wrapper {
    text-align: right;
    margin-bottom: 30px;
}

.forgot {
    color: rgb(52, 152, 219);
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
}

.forgot:hover {
    text-decoration: underline;
}

.footer-link {
    margin-top: 20px;
}

.no-account {
    color: rgb(52, 152, 219);

    font-size: 12px;
    margin-top: 50px;
    text-decoration: none;
    font-weight: bold;
}

.no-account:hover {
    text-decoration: underline;
}

/* --- Button --- */
.btn-submit {
    width: 100%;
    padding: 15px;
    background-color: rgb(119, 139, 136);
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    transition: background 0.3s;
}

.btn-submit:hover {
    background-color: rgb(140, 160, 157);
}