body {
    background: rgb(173, 197, 194);
    font-family: Arial, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grip-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 8px;
}

.grip-icon span {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgb(92, 112, 109); 
    opacity: 0.7;
}

/* --- The Card Container --- */
.register-form {
    background: rgba(255, 255, 255, 0.15); 
    width: 400px; 
    padding: 30px 40px 50px 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}


.h1 {
    color: rgb(92, 112, 109);
    font-size: 36px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    text-shadow: 1px 1px 4px;
    font-weight: bold;
}

.subtitle {
    color: rgb(105, 125, 122);
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
    font-weight: bold;
    opacity: 0.9;
    text-shadow: 1px 1px 4px;
}

/* --- Inputs --- */
.input-field {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 12px;
    border: none;
    border-radius: 8px;
    background-color: rgb(209, 224, 222);
    box-sizing: border-box;
    font-size: 14px;
    color: #555;
    font-weight: bold;
    outline: none;
}

.input-field::placeholder {
    color: #7a918e;
    font-weight: bold;
}

/* --- Links --- */
.link-wrapper {
    text-align: right; /
    margin-top: 5px;
    margin-bottom: 30px;
}

.link-text {
    color: rgb(52, 152, 219);
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
}

.link-text:hover {
    text-decoration: underline;
}

/* --- Button --- */
.button-wrapper {
    display: flex;
    justify-content: center; 
}

.btn-signup {
    width: 200px; 
    padding: 12px;
    background-color: rgb(119, 139, 136);
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    transition: background 0.3s;
}

.btn-signup:hover {
    background-color: rgb(140, 160, 157);
}